.recommend-page {
  min-height: 100vh;
  padding: 40px;
  background: linear-gradient(to bottom, #6b73ff, #9fa9ff);
  font-family: "Segoe UI", sans-serif;
}

.recommend-header {
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

.recommend-header h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.toggle-box {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
  color: #fff;
}

.recommend-card {
  max-width: 900px;
  margin: auto;
  padding: 30px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  color: #fff;
}

.recommend-card h3 {
  margin: 20px 0 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

input,
select {
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.checkbox-group {
  display: flex;
  gap: 20px;
  align-items: center;
}

.find-btn {
  width: 100%;
  margin-top: 30px;
  padding: 14px;
  border-radius: 30px;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.result-section {
  margin-top: 40px;
  text-align: center;
}

.college-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.college-card {
  background: rgba(255, 255, 255, 0.15);
  padding: 20px;
  border-radius: 18px;
  color: white;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.college-card:hover {
  transform: translateY(-6px);
}

.college-card h3 {
  margin-bottom: 10px;
  color: #ffeb3b;
}
